﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to resevation system</h1>
    <div>
        <img src="~/images/pic.jpg"  />
    </div>
     
    <a  class="btn btn-primary" asp-action="Register" asp-controller="Account" style="margin-top:100px">Register</a>
</div>
