﻿@model IEnumerable<Reservation>

<a asp-action="reserve" class="btn btn-success justify-content-lg-center">Add new reservation</a>

@if(Model.Count()> 0)
{
<table class="table table-hover">
    <thead class="thead-dark">
        <tr>
            <th>Title</th>
            <th>description</th>
            <th>date</th>
            <th>required files</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.title</td>
                <td>@item.description</td>
                <td>@item.reserve_date</td>
                <td>
                    @if (item.required_files != null)
                    {
                        <a href="~/userUploads/@item.required_files" target="_blank">preview</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
}
else
{
<p>Oops, you didn't add any reservation yet,Let's add your first reservation</p>
}

