﻿@model ReserveVm
    <h1>Reservation form</h1>
    <div class="row">
        <div class="col-md-4">
            <form asp-action="reserve" enctype="multipart/form-data">
                <div class="form-group">
                    <label asp-for="description" class="control-label"></label>
                    <input asp-for="description" class="form-control" />
                    <span asp-validation-for="description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="title" class="control-label"></label>
                    <input asp-for="title" class="form-control" />
                    <span asp-validation-for="title" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="reserve_date" class="control-label"></label>
                    <input asp-for="reserve_date" class="form-control" id="datefield" />
                    <span asp-validation-for="reserve_date" class="text-danger" ></span>
                </div>
                <div class="custom-file">

                    <input asp-for="required_files" class="form-control custom-file-input" type="file" />
                    <label asp-for="required_files" class="custom-file-label">choose file to upload</label>
                    <span asp-validation-for="required_files" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Add" class="btn btn-primary" />
                </div>
                @section scripts{
                    <script>
                        $(document).ready(function () {
                            var today = new Date();
                            var dd = today.getDate();
                            var MM = today.getMonth()+1; 
                            var yyyy = today.getFullYear();
                            var hh = today.getHours();
                            var mm = today.getMinutes();
                            if (dd < 10)
                            {
                               dd='0'+dd
                            } 
                            if(MM<10){
                                MM='0'+MM
                            } 
                            if(hh<10){
                                hh='0'+hh
                            } 
                             if(mm<10){
                                mm='0'+mm
                            } 
                            var date = yyyy + '-' + MM + '-' + dd;                     
                            var time = hh + ':' + mm;
                            today = date + 'T' + time;
                            console.log('today', today)
                            document.getElementById("datefield").setAttribute("min", today);
                            $(".custom-file-input").on("change", function () {
                                var fileName = $(this).val().split('\\').pop();
                                console.log("msq", fileName)
                                
                               $(this).next(".custom-file-label").html(fileName)
                           
                            }
                            )
                        }
                        )
                    </script>
                }
            </form>
        </div>
    </div>

 